{{- if (eq .chezmoi.os "darwin") }}
# OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
Include ~/.orbstack/ssh/config
{{- end }}

LogLevel ERROR

Host thanatos.internal
  User falke
  IdentityFile ~/.ssh/thanatos.pub
  IdentitiesOnly yes

Host *
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519
  IdentityFile ~/.ssh/id_rsa
{{- if (eq .chezmoi.os "darwin") }}
  IgnoreUnknown UseKeychain
  UseKeychain yes
{{- end }}

Host 192.168.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 172.16.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 10.*.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
